# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
node_modules_temp

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vite
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
src_temp
public_temp
api_temp


